
[nginx]
%{ for ip in nginx_ip ~}
${ip} ansible_user=netology ansible_ssh_common_args='-o ProxyCommand="ssh -p 22 -W %h:%p -q bastion@bastion.public.donets"'
%{ endfor ~}
[elc]
${elc_ip} ansible_user=netology ansible_ssh_common_args='-o ProxyCommand="ssh -p 22 -W %h:%p -q bastion@bastion.public.donets"'
[grafana]
${grafana_ip} ansible_user=netology ansible_ssh_common_args='-o ProxyCommand="ssh -p 22 -W %h:%p -q bastion@bastion.public.donets"'
[kibana]
${kibana_ip} ansible_user=netology ansible_ssh_common_args='-o ProxyCommand="ssh -p 22 -W %h:%p -q bastion@bastion.public.donets"'
[prometheus]
${prometheus_ip} ansible_user=netology ansible_ssh_common_args='-o ProxyCommand="ssh -p 22 -W %h:%p -q bastion@bastion.public.donets"'

