filebeat.inputs:
  - type: log
    enabled: true
    paths:
    - /var/log/nginx/access.log

  - type: log
    enabled: true
    paths:
    - /var/log/nginx/error.log
setup.ilm.overwrite: true                                                                          
# Configure what outputs to use when sending the data collected by the beat.
# Multiple outputs may be used.
output.elasticsearch:
  enable: true
  hosts: ["elc.private.donets:9200"]
#processors:
#  - drop_fields: #<--удаляются системные поля, которые добавил filebeat
#      fields: ["beat", "input_type", "prospector", "input", "host", "agent","ecs"]
  ### Logstash as output
#  logstash:
    # The Logstash hosts
#    hosts: ["10.129.0.4:5044"]

    # Number of workers per Logstash host.
    #worker: 1

    # Optional load balance the events between the Logstash hosts
    #loadbalance: true

    # Optional index name. The default index name depends on the each beat.
    # For Packetbeat, the default is set to packetbeat, for Topbeat
    # top topbeat and for Filebeat to filebeat.
    #index: filebeat
#  elasticsearch:
#    hosts: ["158.160.33.202:9200"]
#    username: ""
#    password: ""
setup.kibana:
  host: "kibana.private.donets:5601"